
<div class="wrapper">
<navbar></navbar>
<div class="main">
    <div class="container">
            <router-outlet></router-outlet>
    </div>
</div>
</div>


 <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <ul class="list-unstyled footer-nav">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="#" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
              <li><a href="#">RSS</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">GitHub</a></li>
              <li><a href="#">API</a></li>
              <li><a href="#">Support</a></li>
            </ul>
            <p>Made by <a href="#" rel="nofollow">Kiran Shenoy</a>. Contact him at <a href="/cdn-cgi/l/email-protection#c3b7abacaea2b083a1acacb7b0b4a2b7a0abeda0acae"><span class="__cf_email__" data-cfemail="2054484f4d415360424f4f545357415443480e434f4d">[email&#160;protected]</span></a>.</p>
            <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
            <p>Angular 2 RC5 Project.</p>
            </div>
        </div>
    </div>
</footer>
